* {
    all: unset;
    font-family: JetBrainsMono Nerd;
    font-family: Iosevka;
}

.numbers-widget
{
    color: #c678dd;
    background-color: #1a1b2f;
    border: 4px solid #5c64f1; 
    font-size: 16px;
    border-radius: 16px;
    padding: 8px;
    margin: 8px 8px 0px 0px;
}
