[Unit]
Description=Autostart Hyprland for user stratos
After=graphical.target

[Service]
User=stratos
Type=simple
ExecStart=Hyprland
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=default.target
